@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --bg-color: #0B2F9F;
    --primary-color: #B7B7B7;
    --secondary-color: #F05454;

}